.card {
  max-width: 600px;
  margin: auto;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}


.login-page {
  background: url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?auto=format&fit=crop&w=1920&q=80") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}
