<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75 fixed-top px-4">
  <a class="navbar-brand text-warning fw-bold" href="#">CQ Inversiones</a>

  <!-- Solo autenticado -->
  <div *ngIf="isAuthenticated" class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link text-light" routerLink="/clientes">Clientes</a></li>
      <li class="nav-item"><a class="nav-link text-light" routerLink="/perfil">Perfil</a></li>
    </ul>
    <div class="ms-3">
      <button class="btn btn-warning text-dark fw-bold" (click)="logout()">Salir</button>
    </div>
  </div>

</nav>
