<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-75 fixed-top px-4">
  <a class="navbar-brand text-warning fw-bold" href="#">Best Pizza</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a class="nav-link text-light" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link text-light" href="#">Contact</a></li>
    </ul>
    <div class="ms-3">
      <div class="ms-3">
        <a routerLink="/register" class="btn btn-outline-warning me-2">Register</a>
        <a routerLink="/login" class="btn btn-warning text-dark">Login</a>
      </div>
    </div>
  </div>
</nav>
